html, body {
    margin: 0;
    height: 100%;
}

body {
    background-image: url('./space.jpg');
    background-size: cover;
}

.sun {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -50px;
    border-radius: 50%;
    background: yellow;
    transform: scale(1);
    transition: transform 0.5s;
    z-index: 10;
}

.sun:hover {
    transform: scale(1.2);
}

.orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin: -200px 0 0 -200px;
    border: 2px solid #fff;
    border-radius: 50%;
    animation: spin 6s infinite linear;
}

.orbit:hover {
    animation-play-state: paused;
}

.mars {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #f00;
    margin: -15px auto 0;
    transition: transform 0.5s;
}

.mars:hover {
    transform: scale(1.2);
}

@keyframes spin {
    0% { 
        transform: rotate(0deg); 
    }
    100% {
        transform: rotate(360deg);
    }
}