.header {
    display: flex;
    flex-direction: row;
    background-color:#6F94E6;
    padding: 15px;
}
.headerButton {
    color: white;
    background-color: #ED6D52;
    margin-right: 10px;
    padding: 10px;
}
.right {
    margin-left: auto;
}
.event {
    display: flex;
    flex-direction: row;
    padding: 10px 5px;
}
.event-unfixedColumn {
    background-color: #F5F5DE;
    padding: 15px;
    flex-grow: 1;
}
  
.event-fixedColumn {
    flex: 0 0 200px;
    padding: 15px;
    border: solid 1px #F8EBD9;
    background-color: #FEFAF1;
}
.job {
    display: flex;
    flex-direction: row;
    padding: 5px 5px;
  }
  .job-fixedColumn {
    flex: 0 0 200px;
    padding: 15px;
    margin: 10px;
    color: white;
    background-color: #983430;
  }
  .job-unfixedColumn {
    display: flex;
    padding: 15px;
    margin: 10px;
    color: white;
    background-color: #C46F33;
  }
  .job-button {
    padding: 15px;
    color: white;
    background-color: #983430;
    align-self: flex-end;
    border-radius: 5px;
    border: solid 1px #7F170E;
  }
